.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 50px 200px 200px 100px 50px;
  grid-template-areas: 
    "header header"
    "aside main"
    "nav main"
    "section section"
    "footer footer";
  gap: 10px;
  align-content: center;
  justify-content: center;
}
body{
    text-align: center;
}
.container > div {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.header {
  grid-area: header;
  background-color: #0b3967;
}

.aside {
  grid-area: aside;
  background-color: #7bd180;
}

.nav {
  grid-area: nav;
  background-color: #ab1160;
}

.main {
  grid-area: main;
  background-color: #cb8181;
}

.section {
  grid-area: section;
  background-color: #0eaf13;
}

.footer {
  grid-area: footer;
  background-color: #f2c94c;
  color: #000; /* Dark text for better contrast on yellow */
}
