*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    background: yellow;
    display:flex;
    flex-wrap:wrap;
    height: 500px;
    /* flex-direction: column-reverse; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around;
     */
     justify-content: space-evenly;
     /* align-items: flex-start; */
     /* align-items: center; */
     /* align-items: flex-end; */
     /* align-items: baseline; */
     /* align-content:flex-start ; */
     /* align-content: flex-end; */
     align-content: space-between;
     /* row-gap: 10px;
     column-gap: 20px; */
     gap: 10px 20px;
     


    
}
.item{
    background: rgb(10, 150, 43);
       border:2px solid black;
       padding: 20px;
       text-align: center;
}
.three{
    font-size: 10px;
    /* flex-grow: 2; */
    align-self: flex-start;
}
.one{
    /* flex-basis:200px ; */
    flex-grow: 1;
}