body{
    background-color: #999;
}
.wrapper{
    background:white;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}
.wrapper::after{
    content: "";
    display: block;
    clear: both;

}
.services{
    max-height:150px;
    overflow:hidden;
}
.services:after{
    content: "";
    display: block;
    clear: both;
}
.service h2, .service p{
    color: #999;
    margin:10px 0;
    text-align:center
}
.service{
    float: left;
    background:#eee ;
    width: 29%;
    margin:1% ;
    padding: 1%;
    height: 140px;
    position: relative;
}
.service:nth-child(1){
    top:5px
}
.service:nth-child(2){
    top:15px
}
.service:nth-child(3){
    top:25px
}

/* img{
    float: right;
    margin: 10px;
} */
/* .blue{
    background-color: blue;
    float: right;
}
.red{
    background-color: brown;
    float: right;
}
.green{
    background-color: green;
}
.box{
    height: 100px;
    width: 100px;
}
    */
.content{
    padding: 10px;
    background:white;
    clear:left;
    margin: 20px 1%;
    position:relative;
    left:50px;
}
.content p{
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 50px;
    column-gap: 50px;
    -webkit-column-rule: 1px solid#989494;
    column-rule:1px solid#a09a9a; 
    text-align: justify;

}
section, aside{
    float: left;
    width: 46%;
    padding:1% ;
    margin: 1%;
    background: #f2f2f2;
}
.columns:after{
    display: block;
    content: "";
    clear: both;

}
#banner{
    min-height: 300px;
    overflow: hidden;
    margin:1%;
    position: relative;
}
#banner h2{
    position: absolute;
    top:30px;
    width: 100%;
    text-align: center;
    margin: 0;
    color: #fff;
}
nav{
    background: #333;
    position: fixed;
    top:0;
    left: 0;
    width:100% ;

}
nav li{
    list-style-type: none;
    margin :0 10px;
    color:#fff;
    float:right
}
nav li:after{

    display: block;
    content: "";
    clear: both;
}
