body{
    background: lightblue;
    text-align: center;
}
.wrapper{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
img{
    /* transform: translateX(200px); */
    /* transform: scaleY(1); */
    /* transform: rotateY(-40deg); */
    /* transform: translateY(200px); */
    transform: rotateZ(-90deg)  translateY(200px) scale(2);
}