body{
    background: lightblue;
    text-align: center;
}
.wrapper{
    width: 100px;
    padding: 20px;
    box-sizing: border-box;
}
.circle{
    width: 100px;
    padding: 50px 0;
    line-height: 0;
    margin: 60px 0;
    color: white;
    border-radius:50px ;
    background: pink;
    cursor: pointer;
    /* transition: background 1s, trasform 0.3s 1s; */
    /* transition: background 1s, transform 0.3s 1s linear; */
    transition: background 1s, transform 1s 1s ease-in;

}
.circle:hover{
    background: red;
    transform: rotate(360deg);
}