@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* header styles */
.material-symbols-outlined {
    color: rgb(96, 96, 96);
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
    background-color: white;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left img {
    width: 200px;
    margin-left: 5px;
}

.header-search form {
    border: 1px solid #fff;
    height: 35px;
    display: flex;
}

.header-search input {
    width: 500px;
    padding: 10px;
    border: none;
}

.header-search button {
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* Mainbody */
.mainbody {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

/* sidebar */
.sidebar {
    height: 100%;
    width: 230px;
    overflow-y: auto;
    background-color: white;
}

.sidebar-categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
}
.sidebar-category{
    display: flex;
    align-items: center;
    padding: 12px 25px;

}
.sidebar-category span{
    margin-left: 15px;
}
.sidebar-category:hover{
    background: #e5e5e5; 
    cursor: pointer;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}
