.container{
    display: grid;
    /* grid-template-columns: auto auto auto; */
    /* grid-template-columns: 200px auto auto auto; */
    /* grid-template-rows: auto 500px; */
    /* grid-template-columns: 1fr 2fr 1fr auto */
    /* grid-template-columns: 1fr 200px 2fr auto; */
    /* grid-template-columns: auto auto min-content auto; */
    /* grid-template-columns: auto auto max-content auto; */
    /* grid-template-columns:repeat(4,auto) ; */
    grid-template-columns: auto auto auto minmax(200px,50%);
    /* column-gap: 5px;
    row-gap: 15px; */
    gap: 5px ;
    grid-template-areas:
    ". . . ."
    ". main-content main-content main-content" 
    ". main-content main-content main-content "
    ". main-content main-content main-content"
    ". . . .";
}
.item
{
    padding: 20px;
    color: white;
    background: brown;
    border: 2px solid black;
}

.item1,.item4,.item7,.item10 {
    background-color: red;
}
.item2,.item5,.item8 ,.item11{
    background-color: green;
}
.item3,.item6,.item9 ,.item12{
    background-color: blue;
}
.big {
    /* grid-column: 2 / 5;
    grid-row: 2 / 5; */
    /* grid-column: 2 / span 3;
    grid-row: 2 / span 3; */
    /* grid-area: 2/2/5/5; */
    grid-area: main-content;

}
